In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
raw_data=pd.read_csv('catalog.csv')

In [3]:
raw_data.describe(include='all')

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
count,1693.000000,1690,629,164,1693,1693,1692,1.693000e+03,1689,1692.000000,...,1692,1693,1692,1692,1691,132,515.000000,1446.000000,872,1593
unique,NaN,922,159,1,28,28,226,NaN,1034,NaN,...,1678,1,14,7,16,49,NaN,NaN,552,1325
top,NaN,9/12/13,Night,SA,United States,US,Kentucky,NaN,Santo Domingo,NaN,...,"(43.026600000000002, -76.330200000000005)",Landslide,Landslide,Medium,Downpour,Tropical Storm Tomas,NaN,NaN,CONRED,http://www.thelevisalazer.com/2010/05/03/high-...
freq,NaN,21,97,164,986,986,124,NaN,20,NaN,...,4,1693,866,965,866,14,NaN,NaN,16,11
mean,4145.027761,NaN,NaN,NaN,NaN,NaN,NaN,9.345940e+04,NaN,7.822695,...,NaN,NaN,NaN,NaN,NaN,NaN,0.526214,1.459198,NaN,NaN
std,2236.741960,NaN,NaN,NaN,NaN,NaN,NaN,5.226016e+05,NaN,9.358256,...,NaN,NaN,NaN,NaN,NaN,NaN,3.427514,9.184653,NaN,NaN
min,34.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,0.000030,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN
25%,2330.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.080000e+03,NaN,1.936360,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN
50%,4087.000000,NaN,NaN,NaN,NaN,NaN,NaN,5.785000e+03,NaN,4.538635,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN
75%,6098.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.886700e+04,NaN,9.873865,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN
max,7541.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.229419e+07,NaN,74.460970,...,NaN,NaN,NaN,NaN,NaN,NaN,45.000000,280.000000,NaN,NaN

In [4]:
raw_data['trigger'].value_counts()

Downpour                   866
Rain                       446
Tropical cyclone           131
Continuous rain             95
Unknown                     88
unknown                     12
Snowfall snowmelt           11
Flooding                    10
Earthquake                   8
Mining digging               7
Freeze thaw                  6
Construction                 5
Other                        3
Dam embankment collapse      1
Volcano                      1
downpour                     1
Name: trigger, dtype: int64

In [5]:
raw_data['landslide_type'].value_counts()

Landslide             866
Mudslide              635
Rockfall               70
Complex                48
Debris flow            38
Other                  14
Creep                   5
Riverbank collapse      5
mudslide                4
Lahar                   2
Snow avalanche          2
Rockslide               1
landslide               1
Unknown                 1
Name: landslide_type, dtype: int64

In [6]:
data=raw_data.drop(['geolocation','location_description','storm_name','source_name','source_link'
                    ,'hazard_type','id','date','time','continent_code','country_name','country_code',
                    'state/province','city/town'],axis=1)

In [7]:
data

,population,distance,latitude,longitude,landslide_type,landslide_size,trigger,injuries,fatalities
0,16000,3.40765,38.6009,-77.2682,Landslide,Small,Rain,NaN,NaN
1,17288,3.33522,40.5175,-81.4305,Landslide,Small,Rain,NaN,NaN
2,15930,2.91977,40.4377,-79.9160,Landslide,Small,Rain,NaN,NaN
3,42786,2.98682,45.3226,-73.7771,Riverbank collapse,Small,Rain,NaN,NaN
4,6903,5.66542,37.4325,-82.4931,Landslide,Small,Downpour,NaN,0.0
...,...,...,...,...,...,...,...,...,...
1688,1646,7.80866,35.2219,-82.3226,Rockfall,Small,NaN,0.0,0.0
1689,51400,6.84721,38.3987,-81.5848,Mudslide,Small,Unknown,0.0,0.0
1690,2406,14.19735,37.4096,-81.4268,Landslide,Small,Rain,0.0,0.0
1691,1048,12.00678,37.5011,-81.1093,Rockfall,Small,Unknown,0.0,0.0
1692,2066,1.78429,43.4771,-72.4066,Rockfall,Small,Unknown,0.0,0.0

In [8]:
data.isnull().sum()

population           0
distance             1
latitude             1
longitude            1
landslide_type       1
landslide_size       1
trigger              2
injuries          1178
fatalities         247
dtype: int64

In [9]:
data['distance'].fillna(data['distance'].mean(),inplace=True)

In [10]:
data['latitude'].fillna(data['latitude'].mean(),inplace=True)

In [11]:
data['longitude'].fillna(data['longitude'].mean(),inplace=True)

In [12]:
data['landslide_type'].fillna(data['landslide_type'].mode()[0],inplace=True)

In [13]:
data['landslide_size'].fillna(data['landslide_size'].mode()[0],inplace=True)

In [14]:
data['trigger'].fillna(data['trigger'].mode()[0],inplace=True)

In [15]:
data['injuries'].fillna(data['injuries'].mode()[0],inplace=True)

In [16]:
data['fatalities'].fillna(data['fatalities'].mode()[0],inplace=True)

In [17]:
data['trigger'].value_counts()

Downpour                   868
Rain                       446
Tropical cyclone           131
Continuous rain             95
Unknown                     88
unknown                     12
Snowfall snowmelt           11
Flooding                    10
Earthquake                   8
Mining digging               7
Freeze thaw                  6
Construction                 5
Other                        3
Dam embankment collapse      1
Volcano                      1
downpour                     1
Name: trigger, dtype: int64

In [18]:
data['trigger'].replace({'downpour':'Downpour','unknown':'Unknown','Continuous rain':'rain'},inplace=True)

In [19]:
from sklearn.preprocessing import LabelEncoder
  
# label_encoder object knows how to understand word labels. 
label_encoder =LabelEncoder() 
  
# Encode labels in column 'species'. 
data['trigger']= label_encoder.fit_transform(data['trigger'])

In [20]:
data['landslide_size'].replace({'medium':'Medium','small':'Small','large':'Large'},inplace=True)

In [21]:
data['landslide_size'].value_counts()

Medium        969
Small         639
Large          70
Very_large     15
Name: landslide_size, dtype: int64

In [22]:
data['landslide_size'].replace({'Medium':1,'Small':0,'Large':2,'Very_large':3},inplace=True)

In [23]:
data['landslide_size'].value_counts()

1    969
0    639
2     70
3     15
Name: landslide_size, dtype: int64

In [24]:
data['landslide_type'].replace({'mudslide':'Mudslide','landslide':'Landslide','Rockslide':'Rockfall'},inplace=True)

In [25]:
data['landslide_type']=label_encoder.fit_transform(data['landslide_type'])

In [26]:
new_data=data.sample(frac=1).reset_index(drop=True)

In [27]:
x=data.drop(['distance'],axis=1)
y=data['distance']

In [28]:
new_data

,population,distance,latitude,longitude,landslide_type,landslide_size,trigger,injuries,fatalities
0,9309,7.87303,4.4376,-75.4976,4,1,2,0.0,0.0
1,23330,7.27361,33.2907,-87.5506,4,1,13,0.0,0.0
2,1027,3.19723,39.5672,-106.4031,5,1,2,0.0,0.0
3,97385,15.39663,40.1192,-105.3896,4,3,8,0.0,3.0
4,9552,0.13052,45.0514,-93.1569,5,1,2,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1688,1860,7.15698,39.4396,-81.1495,4,0,13,0.0,0.0
1689,8603,5.06960,6.7425,-76.1551,4,1,8,0.0,0.0
1690,2683,7.00621,34.4406,-97.1280,4,0,10,0.0,0.0
1691,16887,22.57467,37.0720,-107.8717,8,0,5,0.0,0.0
1692,313945,10.36239,4.5326,-74.1359,4,1,2,0.0,0.0

In [29]:
from sklearn.model_selection import train_test_split as tts

In [30]:
train_x,test_x,train_y,test_y=tts(x,y,random_state=10,test_size=0.25)

In [31]:
from sklearn.ensemble import RandomForestRegressor

In [32]:
reg = RandomForestRegressor(random_state=56)
reg.fit(train_x, train_y)
k=reg.predict(test_x)

C:\Users\Ajay\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [33]:
reg.score(test_x,test_y)

0.4234550707548447

In [34]:
from sklearn.metrics import r2_score

In [35]:
r2_score(test_y,k)

0.4234550707548447